.hide-button{
  margin: auto;
  font-size: 25px;
  width: 200px;
  color: white;
  background-color: rgb(42, 64, 136);
}
.show-button{
  display: hidden;
  font-size: 25px;
  margin: auto; 
  width: 200px;
  color: rgb(42, 64, 136);
  background-color: white;
}
.shop-item{
  color: blue;
  background-color: lightgray;
  padding: 10px;
}
.shop-item:hover{
  color: white;
  background-color: rgb(100, 60, 60);
}
.show-list{
  display: none;
}
.hide-list{
  display: block;
}
